<mat-toolbar color="primary">
  <span> File Upload</span>
  <span class="example-spacer"></span>
  <button
    *ngIf="user.id != 0"
    mat-flat-button
    routerLinkActive="accent"
    routerLink="/profile"
  >
    <mat-icon>person</mat-icon>{{ user.name }}
  </button>
  <button
    *ngIf="user.id != 0"
    mat-flat-button
    routerLinkActive="accent"
    routerLink="/my-files"
  >
    <mat-icon>file_open</mat-icon> My Files
  </button>
  <button
    *ngIf="user.id == 0"
    mat-flat-button
    routerLinkActive="accent"
    routerLink="/login"
  >
    <mat-icon>login</mat-icon> Login
  </button>
  <button
    *ngIf="user.id != 0"
    mat-flat-button
    routerLinkActive="accent"
    routerLink="/login"
    (click)="logout()"
  >
    <mat-icon>logout</mat-icon> Logout
  </button>
</mat-toolbar>
